*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
}

.container-full{
    max-width: 1200px;
    margin: auto;
}
.container{
    max-width: 1200px;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(13, 226, 180);
    justify-content: center;
    height: 80px;
}
.col-1{
    width: calc(20%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;
    margin-top: 30px;
   

}
.col-2{
    width: calc(40%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;   
    margin-top: 30px;
}
.col-3{
    width: calc(20%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;
    margin-top: 30px;
}
.col-4{
    background-color: rgb(233, 141, 156);
    width: 600px;
    height: 150px;
    margin:auto;
}

.content{
    display: flex;
}
#main-menu{
    list-style-type: none;
    gap: 50px;
    display: flex;
    
}
.row-blue{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    height: 200px;
    
}


