*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
}

.container-full{
    max-width: 1200px;
    margin: auto;
}
.container{
    max-width: 1200px;
    margin: auto;
    
}


.row{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(13, 226, 180);
    justify-content: center;
    height: 80px;
}
.col-1{
    width: calc(20%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;
    margin-top: 30px;
   

}
.col-2{
    width: calc(40%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;   
    margin-top: 30px;
}
.col-3{
    width: calc(20%);
    background-color: rgb(223, 174, 14);
    border: 2px dashed black;
    height: 20px;
    margin-top: 30px;
   
}
.col-4{
    background-color: rgb(233, 141, 156);
    width: 600px;
    height: 150px;
    margin:auto;
}
.col-blue{
    background-color: rgb(25, 0, 255);
    height: 200px;
    width:calc(30%);
    margin-top: 50px;
    margin-bottom: 50px;
    
        
}
.col-pink{
    background-color: rgb(255, 165, 236);
    height: 200px;
    width:calc(20%);
    margin-top: 50px;
    
    
}
.content{
    display: flex;
}
#main-menu{
    list-style-type: none;
    gap: 50px;
    display: flex;
    
}
.row-blue{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(55, 123, 250);
    height: 200px;
    
}
.row-white{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(252, 252, 252);
    height: 300px;
    justify-content:center;
   
}

.row-grey{
     display: flex;
    flex-wrap: wrap;
    background-color:rgb(199, 199, 199);
    height: 300px;
    justify-content:center;
}
.row-grey-2{
    display: flex;
   flex-wrap: wrap;
   background-color:rgb(199, 199, 199);
   height: 500px;
   justify-content:center;
}



